body{background-color: rgba(10, 25, 110, 0.877);}

h1{text-align: center; font-size: 400%; color: rgba(255, 255, 0, 0.822);}

p{margin-left: 10%; font-size: 300%; }

img{margin-left: 45%; width: 7%;}
